* {
    background-color:#c6c6c6;
}
body {
    font-family: "Comic Sans MS", serif;
    margin: 0px;
    height:100%;
}
h2 {
    margin: 10px 8px;
    font-size: 30px;
}
p {
    margin: 10px 8px;
    font-size: 20px;
}
.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
    border-style: solid;
    border-color: black;
}
.navbar div p {
    float:left;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color:#999999;
    border-style: none solid none solid;
    border-color: black;
    color: black;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #999999;
    border-top: none;
}
.button {
    margin: 10px;
    border: 2px solid;
    border-radius: 8px;
    background-color:#c6c6c6;
    color:black;
    font-size: 16px;
    padding: 12px 25px;
    transition-duration: 0.2s;
}
.button:hover {
    background-color:black;
    color:white;
}
.trimps {
    border: 3px solid navy;
}
.trimps:hover {
    background-color:navy;
}